#shuttleBackground {
    background-color: green;
    display: inline-block;
    height: 80%;
    width: 40%;
    position: relative;
}

#flightStatus {
    color: green;
}

#flightDisplay {
    text-align: center; 
    height: 400px; 
    width: 100%;
}

#spaceShuttleHeight {
    /* position: absolute; */
    display: inline-block;
}

/* #rocket {
    margin-top: 250px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
} */

.center-block {
    text-align: center; 
    /* position: absolute; */
    display: inline-block;
}

.centered {
    text-align: center;
}